html {
  height: 100%;
  font-family: "Rubik", sans-serif;
}

body {
  height: 100%;
  font-size: 120%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", sans-serif;
}

.section-full {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  min-height: fill-available;
}

.section-lead {
  position: relative;
}

@keyframes jump {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.scroll-hint {
  position: absolute;
  width: 30px;
  height: 30px;
  left: calc(50% - 15px);
  top: calc(100% - 40px);
  animation: jump 0.75s infinite alternate;
  animation-timing-function: ease-in-out;
}

.scroll-hint svg {
  width: 100%;
  height: 100%;
}
