html {
  height: 100%;
  font-family: "Rubik", sans-serif;
}

body {
  height: 100%;
  font-size: 120%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", sans-serif;
}

.section-full {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  min-height: fill-available;
}
