---
pageTitle:
pageDescription:
bodyElements: 2
---
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>{%if pageTitle %}{{ pageTitle + ' | ' }}{% endif %}{{ index_page.Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if pageDescription %}<meta name="description" content="{{ pageDescription }}">{% endif %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="theme-color" content="#1e87f0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.17/dist/css/uikit.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Rubik&family=Roboto+Slab&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/main.css" />

  <meta property="og:title"
    content="{%if pageTitle %}{{ pageTitle + ' | ' }}{% endif %}{{ index_page.Title }}" />
  {% if pageDescription %}<meta property="og:description" content="{{ pageDescription }}" />{% endif %}
  <meta property="og:locale" content="ru_RU" />
  <meta property="og:type" content="website" />
  {% if env.HOST %}
    <meta property="og:url" content="{{ env.HOST }}" />
    <meta property="og:image" content="{{ env.HOST }}/static/favicon-512.png" />
  {% endif %}

  <link rel="icon" href="/static/favicon.ico">
  <link rel="icon" href="/static/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
  <link rel="manifest" href="/static/manifest.webmanifest">
</head>
<body class="elements-{{ bodyElements if bodyElements else 1 }}">

  {{ content | safe }}

  <footer class="uk-section uk-section-muted uk-section-small">
    <div class="uk-container uk-text-small uk-text-muted">
      <div class="uk-grid uk-grid-divider uk-child-width-expand@s" uk-grid>
        <div class="uk-first-column">
          <ul class="uk-nav">
            {% for item in menu %}
              <li>
                <a href="{{ item.link }}">{{ item.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="uk-text-left uk-margin-top uk-text-right@s uk-margin-remove-top@s">{% markdown %}{{ index_page.Footer | safe }}{% endmarkdown %}</div>
      </div>
    </div>
  </footer>

  <script>
    (function(){
      {% if env.NODE_ENV === 'production' %}
        if ('serviceWorker' in navigator) {
          // Use the window load event to keep the page load performant
          window.addEventListener('load', () => {
            navigator.serviceWorker.register('/sw.js');
          });
        }
      {% endif %}

      [...document.querySelectorAll('a')].forEach(a => {
        if ((a.getAttribute('href') || '').match(/^https?:\/\//)) {
          a.setAttribute('target', '_blank');
          a.setAttribute('rel', 'noopener');
        }
      });

      const normalizeUrl = url => url.replace(/\/$/, '');
      [...document.querySelectorAll('.uk-navbar-nav li>a, .uk-nav li>a')].forEach(a => {
        const href = a.getAttribute('href') || '';
        if (normalizeUrl(href) === normalizeUrl(location.pathname)) {
          a.parentNode.classList.add('uk-active');
        }
      });
    }())
  </script>
</body>
</html>
