{% macro topMenu(isIndex, menu, externalMenu) %}

<nav class="uk-navbar-container{% if isIndex %} uk-navbar-transparent {% endif %}">
  <div class="uk-container uk-navbar menu-container">
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li>
          {% if isIndex %}
            <span class="uk-navbar-item site-logo index-logo">{% include "../static/logo.svg" %}</span>
          {% else %}
            <a class="site-logo" href="/">{% include "../static/logo.svg" %}&nbsp;Домой</a>
          {% endif %}
        </li>

        {% for item in menu %}
          <li class="uk-visible@l">
            <a href="{{ item.link }}" data-fuzzy="{{ item.fuzzy }}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="uk-navbar-right">
      <span class="uk-hidden@l">
        <button class="hamburger{% if isIndex %} index-hamburger{% endif %}"
          type="button" uk-toggle="target: #mobile-menu">
          <span class="hamburger-line">open menu</span>
          <span class="hamburger-line"></span>
          <span class="hamburger-line"></span>
        </button>
      </span>

      <ul class="uk-navbar-nav uk-navbar-nav-default uk-visible@l top-social-nav">
        {% for item in externalMenu %}
          <li>
            <a title="{{ item.title }}" href="{{ item.link }}">
              {% include "../static/icons/" + item.icon + ".svg" %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>

<div uk-offcanvas="flip: true" id="mobile-menu">
  <div class="uk-offcanvas-bar">

      <button class="uk-offcanvas-close" type="button" uk-close></button>

      <ul class="uk-nav uk-nav-default uk-margin-top uk-text-large">
        {% for item in menu %}
          <li>
            <a href="{{ item.link }}" data-fuzzy="{{ item.fuzzy }}">{{ item.title }}</a>
          </li>
        {% endfor %}

        <li class="uk-nav-divider"></li>

        {% for item in externalMenu %}
          <li>
            <a href="{{ item.link }}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>

  </div>
</div>

{% endmacro %}

