---
layout: content
pageTitle: Документы
eleventyComputed:
  pageDescription: "{{ index_page.Title }} — Документы"
---

<section class="uk-section uk-section-default">
  <div class="uk-container content-container">
    <h1>Документы</h1>
    {% for doc in docs | sortMultiple([['Date', true], ['published_at', true]]) %}
      <div class="uk-card uk-card-body uk-width-1-1">
        <h2 class="uk-card-title">
          <span class="uk-text-muted">{{ doc.Date | date }}:</span>
          <a href="/docs/{{ doc.Date }}-{{ doc.Title | slug }}/">{{ doc.Title }}</a>
        </h2>
        {% if doc.Summary or doc.Body %}
          <p>
            {{ doc.Summary }}
            {% if doc.Body %}
              <a class="uk-link-text uk-text-small" href="/docs/{{ doc.Date }}-{{ doc.Title | slug }}/">Читать дальше</a>
            {% endif %}
          </p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</section>
