---
layout: content
pageTitle: Заявка отправлена
eleventyComputed:
  pageDescription: "{{ index_page.Title }} — заявка отправлена"
---

<section class="uk-section uk-section-default">
  <div class="uk-container contact-form">
    <h1>Заявка отправлена!</h1>
    <p class="uk-text-lead">
      Скоро вы получите письмо, в котором мы расскажем, как подтвердить эту заявку.
    </p>
  </div>
</section>
