---
layout: content
pagination:
    data: statute.texts
    size: 1
    alias: statuteVersion
permalink: "statute/{{ statuteVersion.lang }}/"
eleventyComputed:
  pageTitle: "{{ statuteVersion.title }}"
  pageDescription: "{{ index_page.Title }} — Устав"
---

<section class="uk-section uk-section-default">
  <div class="uk-container">
    <ul class="uk-subnav uk-subnav-pill">
      {% for version in statute.texts  %}
        <li
          class="{{ 'uk-active' if version.lang === statuteVersion.lang else '' }}">
          {% if version.lang === statuteVersion.lang %}
            <a href="#" disabled>
              {{ statute.langNames[version.lang] }}
            </a>
          {% else %}
            <a href="{{ '/statute/' + version.lang }}">
              {{ statute.langNames[version.lang] }}
            </a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>

    <article>
      <h1>{{ statuteVersion.title }}</h1>
      <section class="statute-text">
        {% markdown %}{{ statuteVersion.body | safe }}{% endmarkdown %}
      </section>
    </article>
  </div>
</section>
